html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
}
#main{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header{
  background: #42b983;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
main{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
footer{
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background: #2c3e50;
  color: white;
  text-align: center;
}

@import "header/header.scss"